<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="format-detection" content="telephone=yes"/>
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <link rel="stylesheet" href="<%= BASE_URL %>main.css">
  <link rel="stylesheet" href="https://unpkg.com/buefy/dist/buefy.min.css">


  <title>Chatti</title>
</head>

<body>
  <noscript>
    <strong>We're sorry but firebasevuechat3 doesn't work properly without JavaScript enabled. Please enable it to
      continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.5.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyAYvksQ0Q5sdHTJCgyXTDFqFn75x1O0oeM",
    authDomain: "fir-vuechat3mob.firebaseapp.com",
    databaseURL: "https://fir-vuechat3mob.firebaseio.com",
    projectId: "fir-vuechat3mob",
    storageBucket: "fir-vuechat3mob.appspot.com",
    messagingSenderId: "517554542907",
    appId: "1:517554542907:web:86bd552ebefbedb7f9ff1e",
    measurementId: "G-Z9GKRMBDVG"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  <!-- built files will be auto injected -->
</body>

</html>