body {
    font-size: 200%;
    font-family: 'Indie Flower', cursive;
    /* background-image: url("deskbackground.jpg"); */
    background-size: cover;
  
}

#bigphonechat { 
    display:inline;
    color: #3273dc;
    text-shadow: 1px 1px 3px #000000;
    font-size: 150%;
    margin-top: -10px;
    margin-bottom: -31px;
  }