<template>
  <div id="app" class="container is-mobile">
    <div class="columns is-mobile">
      <div class="column">
        <div class="box is-mobile">
          <article class="media">
            <div class="media-left">
              <figure class="image is-96x96">
                <img
                  :src="`http://104.131.122.192:3001/display?op=thumbnail&w=200&h=300&path=${headimage.Id}/original/${headimage.Img_file_name}`"
                  alt="Image"
                />
              </figure>
            </div>

            <div class="media-content">
              <div class="content">
                <div is-pulled-right>Ilmainen chatti!</div>

                <strong>{{headimage.Name}}</strong>&nbsp;
                <small>{{headimage.Age}}v</small>
                <br />
                <small>ph:&nbsp;</small>
                <a id="bigphonechat" :href="`tel:${headimage.Phone}`">{{headimage.Phone}}</a>
                <br />
                <small>{{headimage.City}}</small>

                <br />
              </div>
            </div>
          </article>
        </div>

        <div>
          <Chat
            :participants="participants"
            :myself="myself"
            :messages="messages"
            :on-message-submit="onMessageSubmit"
            :chat-title="chatTitle"
            :placeholder="placeholder"
            :colors="colors"
            :border-style="borderStyle"
            :hide-close-button="hideCloseButton"
            :close-button-icon-size="closeButtonIconSize"
            :on-close="onClose"
            :submit-icon-size="submitIconSize"
            :load-more-messages="toLoad.length > 0 ? loadMoreMessages : null"
            :async-mode="asyncMode"
          >
            <template v-slot:header>
              <div v-for="image in images" v-bind:key="image.Id">
                <a v-on:click="imageClick(image)" class="button">{{image.Name}}</a>
              </div>
              <button v-on:click="addnewpart" class="button is-info">lisata</button>
              <!-- <a v-on:click="addnewpart" class="button is-info">lisata</a> -->
            </template>
          </Chat>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import Vue from 'vue'
import VueChatScroll from 'vue-chat-scroll'
import { uuid } from "vue-uuid";
import { Chat } from "vue-quick-chat";
import "vue-quick-chat/dist/vue-quick-chat.css";
import axios from "axios";

Vue.use(VueChatScroll)

export default {
  name: "app",
  components: {
    Chat
  },
  data() {
    return {
      wait: true,
      rndPaus: 5000,
      clclicks: 0,
      guuid: "",
      images: "",
      headimage: { Name: "", Id: "", Img_file_name: "" },
      uuid: uuid.v1(),
      visible: true,
      participants: [],
      myself: {
        name: "Minä",
        id: 1
      },
      messages: [],
      chatTitle: "My chat title",
      placeholder: "Odotta viesti..",
      colors: {
        header: {
          bg: "#d30303",
          text: "#fff"
        },
        message: {
          myself: {
            bg: "#fff",
            text: "#bdb8b8"
          },
          others: {
            bg: "#fb4141",
            text: "#fff"
          },
          messagesDisplay: {
            bg: "#f7f3f3"
          }
        },
        submitIcon: "#b91010"
      },
      borderStyle: {
        topLeft: "10px",
        topRight: "10px",
        bottomLeft: "10px",
        bottomRight: "10px"
      },
      hideCloseButton: false,
      submitIconSize: "30px",
      closeButtonIconSize: "20px",
      asyncMode: false,
      toLoad: [
        {
          content: "Hei!",
          myself: true,
          participantId: 1,
          timestamp: new Date(),
          uploaded: true,
          viewed: true
        }
      ]
    };
  },
  mounted() {
    this.guuid = this.getCookie("guuid");
    if (typeof this.guuid === "undefined") {
      this.guuid = uuid.v4();
      this.setCookie("guuid", this.guuid, 900);
    }
    this.getImages();
  },
  updated() {
    var elem = this.$el;
    elem.scrollTop = elem.clientHeight;
  },
  methods: {
    addnewpart() {
      if (!this.wait) {
        this.placeholder = "Odotta..!!";
        this.wait = true;
        this.getImages();
        this.messages = [];
        this.participants = [];
      }
    },
    setCookie(cookieKey, cookieValue, expirationDays) {
      let expiryDate = "";

      if (expirationDays) {
        const date = new Date();

        date.setTime(
          `${date.getTime()}${expirationDays || 30 * 24 * 60 * 60 * 1000}`
        );

        expiryDate = `; expiryDate=" ${date.toUTCString()}`;
      }

      document.cookie = `${cookieKey}=${cookieValue ||
        ""}${expiryDate}; path=/`;
    },
    getCookie(cookieKey) {
      let cookieName = `${cookieKey}=`;

      let cookieArray = document.cookie.split(";");

      for (let cookie of cookieArray) {
        while (cookie.charAt(0) == " ") {
          cookie = cookie.substring(1, cookie.length);
        }

        if (cookie.indexOf(cookieName) == 0) {
          return cookie.substring(cookieName.length, cookie.length);
        }
      }
    },
    // onType: function (event) {
    //     //here you can set any behavior

    // },
    loadMoreMessages(resolve) {
      setTimeout(() => {
        resolve(this.toLoad); //We end the loading state and add the messages
        //Make sure the loaded messages are also added to our local messages copy or they will be lost
        this.messages.unshift(...this.toLoad);
        this.toLoad = [];
      }, 1000);
    },
    onMessageSubmit: function(message) {
      this.rndPaus = this.randPaus();
      this.placeholder = "Odotta..!!";
      this.wait = true;
      this.clclicks++;
      this.messages.shift();

      this.messages.push(message);

      this.ansmessageorg = {};

      axios
        .post("https://ippayment.info/v1/api/chat", {
          age: this.headimage.Age,
          chatuuid: this.uuid,
          city: this.headimage.City,
          mob: 1,
          name: this.headimage.Name,
          nguid: this.guuid,
          phone: this.headimage.Phone,
          text: message.content
        })
        .then(response => {
          this.ansmessageorg = response.data;
          this.ansmessage = {
            content: this.ansmessageorg.Answer,
            myself: false,
            participantId: this.headimage.Id,
            timestamp: new Date()
          };
          // this.$emit("sendmessages", this.ansmessage);
          this.rndPaus = this.randPaus(5000, 8000);
          setTimeout(() => this.messages.push(this.ansmessage), this.rndPaus);
          setTimeout(
            () => (this.placeholder = "Kirjoita viesti.."),
            this.rndPaus
          );
          setTimeout(() => (this.wait = false), this.rndPaus);
        });

      setTimeout(() => {
        message.uploaded = true;
      }, 5000);
    },
    onClose() {
      this.visible = false;
    },
    getImages() {
      axios.get("https://ippayment.info/api").then(response => {
        this.images = response.data;

        var i;
        for (i = 0; i < 7; i++) {
          this.images.pop();
        }
        this.headimage = this.images[0];

        if (this.participants.length === 0) {
          this.participants.push({
            name: this.images[0].Name,
            id: this.images[0].Id
          });
        }
        // this.$emit("part", this.participants);
        var newmess = {
          content: this.randCommonHei(),
          myself: false,
          participantId: this.headimage.Id,
          timestamp: new Date()
        };
        setTimeout(() => this.messages.push(newmess), this.rndPaus);
        setTimeout(
          () => (this.placeholder = "Kirjoita viesti.."),
          this.rndPaus
        );
        setTimeout(() => (this.wait = false), this.rndPaus);
      });
    },
    imageClick: function(event) {
      if (!this.wait) {
        this.headimage = event;
        if (!this.checkParMessage(event.Id)) {
          this.wait = true;
          if (this.messages[0].id !== event.Id) {
            if (this.messages.length > 3) {
              this.messages.shift();
            }
          }
          // this.messages.shift();
          // this.$emit("click", "click OK");
          this.uuid = uuid.v1();
          this.placeholder = "Odotta..!!";
          // this.headimage = event;
          // this.$emit("partNum", this.participants.length);

          // this.$emit("part not included!!", event);
          if (!this.checkParticipantId(event.Id)) {
            this.participants.push({ name: event.Name, id: event.Id });
          }

          var newmess = {
            content: this.randCommonHei(),
            myself: false,
            participantId: event.Id,
            timestamp: new Date()
          };
          this.rndPaus = this.randPaus(5000, 8000);
          setTimeout(() => this.messages.push(newmess), this.rndPaus);
          setTimeout(
            () => (this.placeholder = "Kirjoita viesti.."),
            this.rndPaus
          );
          setTimeout(() => (this.wait = false), this.rndPaus);
        }
      }
    },
    randCommonHei: function() {
      var phrases = [
        "Moro-moro, miten menee.",
        "Tere, mitä mies.",
        "Heipä-hei kukas sielä?",
        "Heipä hei kovis!",
        "Hei vaan, kuis menee?",
        "Hei, mitäs kuuluu?",
        "Terve, kuinka surisee",
        "Hei! Hei!",
        "Hei!"
      ];

      var rnd = Math.floor(Math.random() * 8);
      return phrases[rnd];
    },
    randPaus: function(min, max) {
      return Math.random() * (max - min) + min;
    },
    checkParticipantId: function(id) {
      var ret = false;
      this.participants.forEach(element => {
        if (element.id === id) {
          ret = true;
        }
      });
      return ret;
    },
    checkParMessage: function(id) {
      var ret = false;
      this.messages.forEach(element => {
        // this.$emit("mess", element);
        if (element.participantId === id) {
          ret = true;
        }
      });
      return ret;
    }
  }
};
</script>

<style>
#app {
  /* font-family: "Avenir", Helvetica, Arial, sans-serif; */
  font-family: "Indie Flower", cursive;
  font-size: 170%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
  margin-right: 15px;
}
</style>
